<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
     <article class="text-center">
     <hgroup>
     <h1>Добро пожаловать в систему управления компаниями!</h1>
     <p>Современное приложение на Spring Boot для управления компаниями и сотрудниками</p>
     </hgroup>
     <p>
         <small>Последнее обновление данных: <strong th:text="${#temporals.format(#temporals.createNow(), 'dd.MM.yyyy HH:mm:ss')}"></strong></small>
     </p>
     </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>